.App {
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.device-list {
  width: 40%;
  border-right: 1px solid #ccc;
  padding-right: 20px;
}

.device-details {
  width: 55%;
  padding-left: 20px;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.properties-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.property-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}